.gradle
.metadata
.settings
bin/
build/
eclipse/
logs/
saves/
crash-reports/
saves/
config/
screenshots/

.classpath
.project
CREDITS-fml.txt
forge-*-changelog.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
usernamecache.json

# idea
*.iml
*.ipr
*.iws
