.gradle
.metadata
.settings
bin/
build/
eclipse/
gradle/

.classpath
.project
build.gradle
CREDITS-fml.txt
forge-1.7.2-10.12.0.1024-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt

